.search-with-ai--text .markdown-body {
  font-size: 16px;
  font-weight: 400;
  color: var(--tw-prose-body);
  --theme-0: #fff;
  --theme-50: #f8fafc;
  --theme-100: #f1f5f9;
  --theme-200: #e2e8f0;
  --theme-300: #cbd5e1;
  --theme-400: #94a3b8;
  --theme-500: #64748b;
  --theme-600: #475569;
  --theme-700: #334155;
  --theme-800: #1e293b;
  --theme-900: #0f172a;
  --tw-primary: #62bbf3;
  --tw-prose-body: #374151;
  --tw-prose-headings: #111827;
  --tw-prose-lead: var(--theme-600);
  --tw-prose-links: var(--theme-900);
  --tw-prose-bold: var(--theme-900);
  --tw-prose-counters: var(--theme-500);
  --tw-prose-bullets: var(--theme-300);
  --tw-prose-hr: #ddd;
  --tw-prose-quotes: var(--theme-900);
  --tw-prose-quote-borders: var(--theme-200);
  --tw-prose-captions: var(--theme-500);
  --tw-prose-code: var(--theme-900);
  --tw-prose-pre-code: var(--theme-100);
  --tw-prose-pre-bg: var(--theme-800);
  --tw-prose-th-borders: #d1d5db;
  --tw-prose-td-borders: #d1d5db;
  --tw-prose-bg: var(--theme-0);
  --tw-prose-meta: var(--theme-500);
  --tw-prose-meta-bg: var(--theme-100);
  --tw-prose-invert-body: #d1d5db;
  --tw-prose-invert-headings: var(--theme-0);
  --tw-prose-invert-lead: var(--theme-400);
  --tw-prose-invert-links: var(--theme-0);
  --tw-prose-invert-bold: var(--theme-0);
  --tw-prose-invert-counters: var(--theme-400);
  --tw-prose-invert-bullets: var(--theme-600);
  --tw-prose-invert-hr: #666;
  --tw-prose-invert-quotes: var(--theme-100);
  --tw-prose-invert-quote-borders: var(--theme-700);
  --tw-prose-invert-captions: var(--theme-400);
  --tw-prose-invert-code: var(--theme-0);
  --tw-prose-invert-pre-bg: var(--theme-900);
  --tw-prose-invert-th-borders: var(--theme-600);
  --tw-prose-invert-td-borders: var(--theme-700);
  --tw-prose-invert-bg: var(--theme-800);
  --tw-prose-invert-meta: var(--theme-400);
  --tw-prose-invert-meta-bg: var(--theme-700);
  --tw-highlight-color: #fde047;
  --tw-drop-shadow-md: drop-shadow(0 4px 3px #000000)
    drop-shadow(0 2px 2px #000000);
  --tw-button-hover-bg: var(--theme-100);
  --tw-button-hover-bg-inverted: var(--theme-700);
  --background: var(--tw-prose-bg);
  --bg-color: var(--tw-prose-bg);
  --text-color: var(--tw-prose-body);
  --primary-color: var(--tw-primary);
  --md-char-color: var(--theme-400);
  --meta-content-color: var(--theme-500);
  --typora-source-body: var(--theme-800);
  --heading-char-color: var(--md-char-color);
  --mermaid-theme: neutral;
  --active-toggle-btn-color: var(--theme-200);
  --md-char-color-inverted: var(--theme-500);
  --meta-content-color-inverted: var(--theme-400);
  --typora-source-body-inverted: var(--theme-300);
  --mermaid-theme-inverted: dark;
  --active-toggle-btn-color-inverted: var(--theme-400);
  --side-bar-bg-color: var(--tw-prose-bg);
  --active-file-bg-color: var(--theme-100);
  --active-file-text-color: var(--tw-prose-bold);
  --active-file-border-color: var(--theme-100);
  --panel-border-color: var(--theme-300);
  --blur-text-color: var(--theme-300);
  --window-border: 1px solid var(--theme-200);
  --item-hover-bg-color: var(--theme-100);
  --search-hit-text-bg-color: var(--theme-200);
  --search-hit-text-font-color: inherit;
  --search-select-text-color: var(--select-text-font-color);
  --search-select-bg-color: var(--select-text-bg-color);
  --blur-text-color-inverted: var(--theme-500);
  --panel-border-color-inverted: var(--theme-700);
  --active-file-bg-color-inverted: var(--theme-700);
  --window-border-inverted: 1px solid var(--theme-700);
  --search-hit-text-bg-color-inverted: var(--theme-700);
  --search-hit-text-font-color-inverted: var(--theme-0);
  --search-select-bg-color-inverted: var(--theme-400);
  --rawblock-edit-panel-bd: var(--tw-prose-pre-bg);
  --item-hover-bg-color-inverted: var(--theme-700);
  --monospace: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --footnote: var(--tw-prose-body);
  --footnote-bg: #94a3b855;
  --button-bg: var(--theme-200);
  --button-bg-inverted: var(--theme-600);
  --md-grid-header: var(--theme-100);
  --md-grid-header-ext: var(--theme-400);
  --md-grid-ext: var(--theme-300);
  --md-grid-header-active: var(--theme-500);
  --md-grid-active: var(--theme-400);
  --md-grid-border-color: var(--theme-500);
  --md-grid-header-inverted: var(--theme-600);
  --md-grid-header-ext-inverted: var(--theme-500);
  --md-grid-ext-inverted: var(--theme-600);
  --md-grid-header-active-inverted: var(--theme-400);
  --md-grid-active-inverted: var(--theme-500);
  --md-grid-border-color-inverted: var(--theme-200);
  --code-blocks-font-size: 0.9em;
  --inline-code-font-size: 0.9em;
}
.search-with-ai--text .markdown-body .ty-file-search-match-text {
  background-color: var(--search-hit-text-bg-color);
}
.search-with-ai--text .markdown-body *,
.search-with-ai--text .markdown-body ::before,
.search-with-ai--text .markdown-body ::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}
.search-with-ai--text .markdown-body ::before,
.search-with-ai--text .markdown-body ::after {
  --tw-content: '';
}
.search-with-ai--text .markdown-body img,
.search-with-ai--text .markdown-body video {
  height: auto;
  max-width: 100%;
}
.search-with-ai--text .markdown-body pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
.search-with-ai--text .markdown-body #text {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}
.search-with-ai--text .markdown-body #text {
  margin: 0;
  line-height: inherit;
}
.search-with-ai--text .markdown-body hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}
.search-with-ai--text .markdown-body abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
.search-with-ai--text .markdown-body h1,
.search-with-ai--text .markdown-body h2,
.search-with-ai--text .markdown-body h3,
.search-with-ai--text .markdown-body h4,
.search-with-ai--text .markdown-body h5,
.search-with-ai--text .markdown-body h6 {
  font-size: inherit;
  font-weight: inherit;
}
.search-with-ai--text .markdown-body a {
  color: inherit;
  text-decoration: inherit;
}
.search-with-ai--text .markdown-body b,
.search-with-ai--text .markdown-body strong {
  font-weight: bolder;
}
.search-with-ai--text .markdown-body code,
.search-with-ai--text .markdown-body kbd,
.search-with-ai--text .markdown-body samp,
.search-with-ai--text .markdown-body pre {
  font-family: var(--monospace);
  font-size: 1em;
}
.search-with-ai--text .markdown-body small {
  font-size: 80%;
}
.search-with-ai--text .markdown-body sub,
.search-with-ai--text .markdown-body sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.search-with-ai--text .markdown-body sub {
  bottom: -0.25em;
}
.search-with-ai--text .markdown-body sup {
  top: -0.5em;
}
.search-with-ai--text .markdown-body table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: separate;
  border-spacing: 0;
}
.search-with-ai--text .markdown-body button,
.search-with-ai--text .markdown-body input,
.search-with-ai--text .markdown-body optgroup,
.search-with-ai--text .markdown-body select,
.search-with-ai--text .markdown-body textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}
.search-with-ai--text .markdown-body blockquote,
.search-with-ai--text .markdown-body dl,
.search-with-ai--text .markdown-body dd,
.search-with-ai--text .markdown-body h1,
.search-with-ai--text .markdown-body h2,
.search-with-ai--text .markdown-body h3,
.search-with-ai--text .markdown-body h4,
.search-with-ai--text .markdown-body h5,
.search-with-ai--text .markdown-body h6,
.search-with-ai--text .markdown-body hr,
.search-with-ai--text .markdown-body figure,
.search-with-ai--text .markdown-body p,
.search-with-ai--text .markdown-body pre {
  margin: 0;
}
.search-with-ai--text .markdown-body fieldset {
  margin: 0;
  padding: 0;
}
.search-with-ai--text .markdown-body legend {
  padding: 0;
}
.search-with-ai--text .markdown-body ol,
.search-with-ai--text .markdown-body ul,
.search-with-ai--text .markdown-body menu {
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: normal;
}
.search-with-ai--text .markdown-body textarea {
  resize: vertical;
}
.search-with-ai--text .markdown-body #write {
  font-size: 1.25rem;
  line-height: 1.8;
}
.search-with-ai--text .markdown-body html,
.search-with-ai--text .markdown-body body {
  font-family: 'Inter';
}
.search-with-ai--text .markdown-body content,
.search-with-ai--text .markdown-body titlebar {
  background: var(--tw-prose-bg);
}
.search-with-ai--text .markdown-body #write {
  padding-top: 100px;
  padding-bottom: 100px;
  color: var(--tw-prose-body);
  max-width: 60ch;
}
.search-with-ai--text .markdown-body #write > :where(:first-child) {
  margin-top: 0;
}
.search-with-ai--text .markdown-body #write > :where(:last-child) {
  margin-bottom: 0;
}
.search-with-ai--text .markdown-body pre.md-meta-block {
  color: var(--tw-prose-meta);
  background-color: var(--tw-prose-meta-bg);
  font-weight: 400;
  font-size: var(--code-blocks-font-size);
  line-height: 1.7777778;
  border-radius: 0.5rem;
  padding: 1.1111111em 1.3333333em;
  margin-bottom: 2.8em;
}
.search-with-ai--text .markdown-body h1 {
  color: var(--tw-prose-headings);
  font-size: 2.25em;
  font-weight: 800;
  line-height: 1.1111111;
  margin-bottom: 0.22em;
  margin-top: 0;
}
.search-with-ai--text .markdown-body h1 strong {
  font-weight: 900;
}
.search-with-ai--text .markdown-body h2 {
  color: var(--tw-prose-headings);
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.3333333;
  margin-bottom: 0.22em;
  margin-top: 2rem;
}
.search-with-ai--text .markdown-body h2 strong {
  font-weight: 800;
}
.search-with-ai--text .markdown-body h3 {
  color: var(--tw-prose-headings);
  font-size: 1.25em;
  font-weight: 600;
  line-height: 1.6;
  margin-bottom: 0.22em;
  margin-top: 1rem;
}
.search-with-ai--text .markdown-body h3 strong {
  font-weight: 700;
}
.search-with-ai--text .markdown-body h4 {
  color: var(--tw-prose-headings);
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 0.22em;
  margin-top: 1rem;
}
.search-with-ai--text .markdown-body h4 strong {
  font-weight: 700;
}
.search-with-ai--text .markdown-body h2 code {
  font-size: 0.8611111em;
}
.search-with-ai--text .markdown-body h3 code {
  font-size: 0.9em;
}
.search-with-ai--text .markdown-body h5 {
  font-weight: 500;
}
.search-with-ai--text .markdown-body table {
  width: 100%;
  table-layout: auto;
  text-align: left;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 0.9em;
  line-height: 1.5555556;
}
.search-with-ai--text .markdown-body thead {
  border-bottom-width: 1px;
}
.search-with-ai--text .markdown-body thead th {
  border-color: var(--tw-prose-th-borders);
  color: var(--tw-prose-headings);
  background-color: rgba(236, 236, 241, 0.2);
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-width: 1px;
  padding: 0.25rem 0.75rem;
  font-size: 0.9rem;
}
.search-with-ai--text .markdown-body thead th:first-child {
  border-top-left-radius: 0.375rem;
}
.search-with-ai--text .markdown-body thead th:last-child {
  border-right-width: 1px;
  border-top-right-radius: 0.375rem;
}
.search-with-ai--text .markdown-body tbody tr {
  border-bottom-width: 1px;
}
.search-with-ai--text .markdown-body tbody tr:last-child {
  border-bottom-width: 0;
}
.search-with-ai--text .markdown-body tbody td {
  border-color: var(--tw-prose-td-borders);
  border-bottom-width: 1px;
  border-left-width: 1px;
  padding: 0.25rem 0.75rem;
  font-size: 0.9rem;
}
.search-with-ai--text .markdown-body tbody td:last-child {
  border-right-width: 1px;
}
.search-with-ai--text .markdown-body tbody tr:last-child td:last-child {
  border-bottom-right-radius: 0.375rem;
}
.search-with-ai--text .markdown-body tbody tr:last-child td:first-child {
  border-bottom-left-radius: 0.375rem;
}
.search-with-ai--text .markdown-body .md-grid-board tr[row='1'] {
  background-color: var(--md-grid-header);
}
.search-with-ai--text .markdown-body .md-grid-board a:hover,
.search-with-ai--text .markdown-body .md-grid-board a.md-active {
  background: var(--md-grid-active);
}
.search-with-ai--text .markdown-body .md-grid-board tr[row='1'] a:hover,
.search-with-ai--text .markdown-body .md-grid-board tr[row='1'] a.md-active {
  background: var(--md-grid-header-active);
}
.search-with-ai--text .markdown-body .md-grid-board .md-grid-ext {
  background: var(--md-grid-ext);
}
.search-with-ai--text .markdown-body .md-grid-board tr[row='1'] .md-grid-ext {
  background: var(--md-grid-header-ext);
}
.search-with-ai--text .markdown-body .md-grid-board a {
  border-color: var(--md-grid-border-color) !important;
}
.search-with-ai--text .markdown-body ol {
  list-style-type: decimal;
  padding-left: 1.6em;
  margin-bottom: 1.25em;
  margin-top: 1.25em;
}
.search-with-ai--text .markdown-body ul {
  list-style-type: disc;
  padding-left: 1.6em;
  margin-bottom: 1.25em;
  margin-top: 1.25em;
}
.search-with-ai--text .markdown-body #write ul.task-list {
  padding-left: 0;
}
.search-with-ai--text .markdown-body #write li.task-list-item {
  padding-left: 0.4em;
}
.search-with-ai--text .markdown-body #write input[type='checkbox'] {
  margin-left: -1em;
}
.search-with-ai--text .markdown-body input[checked] ~ * {
  opacity: 0.7;
  text-decoration: line-through;
}
.search-with-ai--text .markdown-body ol > li::marker {
  font-weight: 400;
  color: var(--tw-prose-headings);
}
.search-with-ai--text .markdown-body ul > li::marker {
  color: var(--tw-prose-headings);
}
.search-with-ai--text .markdown-body ul > li,
.search-with-ai--text .markdown-body ol > li {
  padding-left: 0.4em;
}
.search-with-ai--text .markdown-body ul > li p,
.search-with-ai--text .markdown-body ol > li p {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}
.search-with-ai--text .markdown-body #write > ul > li > :not(input):first-child,
.search-with-ai--text .markdown-body #write > ol > li > :not(input):first-child,
.search-with-ai--text .markdown-body #write > ul > li > input + *,
.search-with-ai--text .markdown-body #write > ol > li > input + * {
  margin-top: 1.2em;
}
.search-with-ai--text .markdown-body #write > ul > li > *:last-child,
.search-with-ai--text .markdown-body #write > ol > li > *:last-child {
  margin-bottom: 1.2em;
}
.search-with-ai--text .markdown-body #write ul > li > p:only-child,
.search-with-ai--text .markdown-body #write ol > li > p:only-child,
.search-with-ai--text .markdown-body #write ul > li > input + p:last-child,
.search-with-ai--text .markdown-body #write ol > li > input + p:last-child {
  margin-top: 0;
  margin-bottom: 0;
}
.search-with-ai--text .markdown-body ul ul,
.search-with-ai--text .markdown-body ul ol,
.search-with-ai--text .markdown-body ol ul,
.search-with-ai--text .markdown-body ol ol {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}
.search-with-ai--text .markdown-body blockquote {
  font-weight: 500;
  font-style: italic;
  color: var(--tw-prose-quotes);
  border-left-width: 2px;
  border-left-color: #8e8ea0;
  quotes: '\201C''\201D''\2018''\2019';
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  padding-left: 1.0666667em;
}
.search-with-ai--text .markdown-body blockquote p:first-of-type::before {
  content: open-quote;
}
.search-with-ai--text .markdown-body blockquote p:last-of-type::after {
  content: close-quote;
}
.search-with-ai--text .markdown-body hr {
  border-color: var(--tw-prose-hr);
  border-top-width: 1px;
}
.search-with-ai--text .markdown-body [mdtype='hr'] {
  margin-top: 1.8em;
  margin-bottom: 1.8em;
}
.search-with-ai--text .markdown-body p {
  margin-top: 1em;
  margin-bottom: 0.22em;
}
.search-with-ai--text .markdown-body .md-diagram-panel {
  color: var(--tw-prose-body);
}
.search-with-ai--text
  .markdown-body
  .enable-diagrams
  .md-diagram
  .code-tooltip {
  bottom: -1.9em;
  right: 0;
}
.search-with-ai--text .markdown-body .md-fences-adv-panel {
  margin-top: 1.3em;
}
.search-with-ai--text .markdown-body sup.md-footnote {
  color: var(--footnote);
  background-color: var(--footnote-bg);
}
.search-with-ai--text .markdown-body .footnotes {
  font-size: 0.85em;
}
.search-with-ai--text .markdown-body .md-reverse-footnote-area a {
  font-family: 'Inter';
  text-decoration: none;
  color: var(--tw-primary);
  border-radius: 3px;
}
.search-with-ai--text .markdown-body .md-hover-tip .code-tooltip-content {
  font-size: 1.05rem;
  line-height: 1.6;
  padding: 0.8em 1.2em;
}
.search-with-ai--text .markdown-body .md-reverse-footnote-area a:hover {
  background-color: var(--item-hover-bg-color);
}
.search-with-ai--text .markdown-body .md-def-name:before {
  color: var(--md-char-color);
}
.search-with-ai--text .markdown-body .md-rawblock.md-rawblock-on-edit,
.search-with-ai--text .markdown-body .md-rawblock:hover {
  color: var(--tw-prose-pre-code);
}
.search-with-ai--text .markdown-body .md-inline-math script {
  color: var(--tw-prose-code);
}
.search-with-ai--text
  .markdown-body
  g[data-mml-node='merror']
  > rect[data-background] {
  fill: var(--tw-highlight-color) !important;
}
.search-with-ai--text .markdown-body g[data-mml-node='merror'] > g {
  fill: #000 !important;
  stroke: #000 !important;
}
.search-with-ai--text .markdown-body .code-tooltip {
  color: var(--tw-prose-pre-code);
}
.search-with-ai--text .markdown-body .code-tooltip .md-mathjax-preview {
  color: var(--tw-prose-body);
}
.search-with-ai--text .markdown-body .md-htmlblock-container,
.search-with-ai--text .markdown-body .md-rawblock-input.md-rawblock-control,
.search-with-ai--text .markdown-body .md-htmlblock-panel.md-rawblock-control,
.search-with-ai--text .markdown-body .md-math-container {
  border-radius: 0.5rem 0 0.5rem 0.5rem;
}
.search-with-ai--text .markdown-body .md-rawblock-input {
  font-size: var(--code-blocks-font-size);
  padding: 0 1.3333333em;
}
.search-with-ai--text
  .markdown-body
  .md-mathblock-panel
  .md-rawblock-input.md-rawblock-control {
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-radius: 0;
}
.search-with-ai--text .markdown-body .md-mathblock-panel .md-rawblock-before {
  padding-top: 1.1em;
  border-top-left-radius: 0.5rem;
}
.search-with-ai--text .markdown-body .md-mathblock-panel .md-rawblock-after {
  padding-bottom: 1.1em;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.search-with-ai--text .markdown-body .md-htmlblock-panel .md-rawblock-input {
  padding-top: 1.1111111em;
  padding-bottom: 1.1111111em;
}
.search-with-ai--text .markdown-body .md-mathblock-panel .md-rawblock-before,
.search-with-ai--text .markdown-body .md-mathblock-panel .md-rawblock-after {
  font-size: var(--code-blocks-font-size);
  padding-left: calc(5.3333333px);
  color: var(--code-bracket);
}
.search-with-ai--text .markdown-body .md-rawblock-tooltip {
  color: var(--tw-prose-pre-code);
  border-radius: 0.5rem 0.5rem 0 0;
}
.search-with-ai--text .markdown-body .md-rawblock-tooltip-name {
  opacity: 1;
}
.search-with-ai--text .markdown-body .md-comment {
  font-size: var(--inline-code-font-size);
  color: var(--code-comment);
}
.search-with-ai--text .markdown-body .md-raw-inline,
.search-with-ai--text .markdown-body .md-tag,
.search-with-ai--text .markdown-body [md-inline='linebreak'],
.search-with-ai--text .markdown-body .md-image > .md-meta,
.search-with-ai--text
  .markdown-body
  .md-inline-math.md-expand
  > .md-inline-math-container {
  font-size: var(--code-blocks-font-size);
}
.search-with-ai--text .markdown-body .md-fences {
  color: var(--tw-prose-pre-code);
  background-color: var(--tw-prose-pre-bg);
  font-weight: 400;
  font-size: var(--code-blocks-font-size);
  line-height: 1.7777778;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 0.5rem;
  padding: 1.1111111em 1.3333333em;
}
.search-with-ai--text .markdown-body .md-fences.md-focus {
  border-bottom-right-radius: 0;
}
.search-with-ai--text .markdown-body .md-fences > .code-tooltip {
  height: 1.8rem;
  bottom: -1.8rem;
  font-size: 0.9rem;
  border-radius: 0 0 0.5rem 0.5rem;
}
.search-with-ai--text .markdown-body .code-tooltip .ty-input {
  min-width: 10rem;
}
.search-with-ai--text .markdown-body pre code {
  background-color: transparent;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  font-weight: inherit;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}
.search-with-ai--text .markdown-body pre code::before {
  content: none;
}
.search-with-ai--text .markdown-body pre code::after {
  content: none;
}
.search-with-ai--text .markdown-body :root {
  --code-neutral: var(--theme-800);
  --code-cursor: var(--theme-900);
  --code-string: #0ea5e9;
  --code-number: #f59e0b;
  --code-tag: #ec4899;
  --code-variable: var(--theme-700);
  --code-operator: var(--theme-600);
  --code-comment: var(--theme-500);
  --code-bracket: var(--theme-500);
  --code-citation: var(--theme-500);
  --code-neutral-inverted: var(--theme-100);
  --code-cursor-inverted: var(--theme-50);
  --code-string-inverted: #7dd4fc;
  --code-number-inverted: #fde68a;
  --code-tag-inverted: #f472b5;
  --code-variable-inverted: var(--theme-200);
  --code-operator-inverted: var(--theme-400);
  --code-comment-inverted: var(--theme-400);
  --code-bracket-inverted: var(--theme-500);
  --code-citation-inverted: var(--theme-400);
}
.search-with-ai--text .markdown-body #write .cm-s-inner {
  --code-neutral: var(--code-neutral-inverted);
  --code-cursor: var(--code-cursor-inverted);
  --code-string: var(--code-string-inverted);
  --code-number: var(--code-number-inverted);
  --code-tag: var(--code-tag-inverted);
  --code-variable: var(--code-variable-inverted);
  --code-operator: var(--code-operator-inverted);
  --code-comment: var(--code-comment-inverted);
  --code-bracket: var(--code-bracket-inverted);
  --code-citation: var(--code-citation-inverted);
}
.search-with-ai--text .markdown-body .CodeMirror-selectedtext {
  background-color: transparent;
}
.search-with-ai--text .markdown-body .CodeMirror-cursor {
  border-left: 1px solid var(--code-cursor) !important;
}
.search-with-ai--text .markdown-body .CodeMirror-gutters {
  border-color: var(--code-comment);
}
.search-with-ai--text .markdown-body .cm-s-inner span.cm-string {
  color: var(--code-string);
}
.search-with-ai--text .markdown-body .cm-s-inner span.cm-number {
  color: var(--code-number);
}
.search-with-ai--text .markdown-body .cm-s-inner span.cm-tag,
.search-with-ai--text .markdown-body .cm-s-inner span.cm-keyword,
.search-with-ai--text .markdown-body .cm-s-inner span.cm-qualifier {
  color: var(--code-tag);
}
.search-with-ai--text .markdown-body .cm-s-inner .CodeMirror-guttermarker,
.search-with-ai--text
  .markdown-body
  .cm-s-inner
  .CodeMirror-guttermarker-subtle,
.search-with-ai--text .markdown-body .cm-s-inner span.cm-comment.cm-def,
.search-with-ai--text .markdown-body .cm-s-inner span.cm-comment.cm-type,
.search-with-ai--text .markdown-body .cm-s-inner span.cm-builtin,
.search-with-ai--text .markdown-body .cm-s-inner span.cm-type,
.search-with-ai--text .markdown-body .cm-s-inner span.cm-header,
.search-with-ai--text .markdown-body .cm-s-inner span.cm-link,
.search-with-ai--text .markdown-body .cm-s-inner span.cm-error {
  background: transparent;
  color: var(--code-neutral);
}
.search-with-ai--text .markdown-body .cm-s-inner span.cm-attribute,
.search-with-ai--text .markdown-body .cm-s-inner span.cm-property,
.search-with-ai--text .markdown-body .cm-s-inner span.cm-variable,
.search-with-ai--text .markdown-body .cm-s-inner span.cm-variable-2,
.search-with-ai--text .markdown-body .cm-s-inner span.cm-variable-3,
.search-with-ai--text .markdown-body .cm-s-inner span.cm-type,
.search-with-ai--text .markdown-body .cm-s-inner span.cm-atom,
.search-with-ai--text .markdown-body .cm-s-inner span.cm-def {
  color: var(--code-variable);
}
.search-with-ai--text .markdown-body .cm-s-inner span.cm-comment,
.search-with-ai--text .markdown-body .cm-s-inner .CodeMirror-linenumber {
  color: var(--code-comment);
}
.search-with-ai--text .markdown-body .cm-s-inner span.cm-operator {
  color: var(--code-operator);
}
.search-with-ai--text .markdown-body .cm-s-inner span.cm-bracket,
.search-with-ai--text .markdown-body .cm-s-inner span.cm-tag.cm-bracket,
.search-with-ai--text .markdown-body .cm-s-inner span.cm-meta {
  color: var(--code-bracket);
}
.search-with-ai--text .markdown-body .cm-s-inner span.cm-link {
  text-decoration: underline;
}
.search-with-ai--text .markdown-body code {
  color: var(--tw-prose-code);
  font-weight: 600;
  font-size: var(--inline-code-font-size);
}
.search-with-ai--text .markdown-body code::before {
  content: '`';
}
.search-with-ai--text .markdown-body code::after {
  content: '`';
}
.search-with-ai--text
  .markdown-body
  [md-inline='code'].md-expand
  > code::before,
.search-with-ai--text
  .markdown-body
  [md-inline='code'].md-expand
  > code::after {
  content: '';
}
.search-with-ai--text .markdown-body a code {
  color: var(--tw-prose-links);
}
.search-with-ai--text .markdown-body strong {
  color: var(--tw-prose-bold);
  font-weight: 600;
}
.search-with-ai--text .markdown-body a {
  color: var(--tw-prose-links);
  text-decoration: underline;
  font-weight: 500;
}
.search-with-ai--text .markdown-body p > .md-image:only-child {
  margin-top: 0.8em !important;
  margin-bottom: 0.8em !important;
}
.search-with-ai--text .markdown-body .md-image > .md-meta {
  color: var(--tw-prose-code);
}
.search-with-ai--text .markdown-body mark {
  border-radius: 3px;
  padding: 0 2px;
  background-color: var(--tw-highlight-color);
}
.search-with-ai--text
  .markdown-body
  .cm-s-typora-default
  .CodeMirror-activeline-background {
  background-color: var(--item-hover-bg-color);
}
.search-with-ai--text .markdown-body #typora-source {
  font-family: var(--monospace);
  color: var(--typora-source-body);
}
.search-with-ai--text .markdown-body #typora-source .cm-header {
  color: var(--code-tag);
}
.search-with-ai--text .markdown-body #typora-source .cm-link {
  color: var(--code-string);
}
.search-with-ai--text .markdown-body #typora-source .cm-string {
  color: var(--code-string);
}
.search-with-ai--text .markdown-body #typora-source .cm-comment {
  color: var(--code-comment);
}
.search-with-ai--text .markdown-body #typora-source .cm-atom {
  color: var(--code-citation);
}
.search-with-ai--text .markdown-body #typora-source .cm-tag {
  color: var(--code-tag);
}
.search-with-ai--text .markdown-body #typora-source .cm-attribute {
  color: var(--code-variable);
}
.search-with-ai--text .markdown-body #typora-source .cm-bracket {
  color: var(--code-bracket);
}
.search-with-ai--text .markdown-body .file-list-item-file-ext-part {
  opacity: 0.5;
}
.search-with-ai--text .markdown-body #write div.md-toc-tooltip {
  background-color: var(--tw-prose-bg);
}
.search-with-ai--text .markdown-body .md-toc {
  font-size: 0.8em;
}
.search-with-ai--text .markdown-body .md-toc-h1 .md-toc-inner {
  margin-left: 0;
}
.search-with-ai--text .markdown-body .md-toc-h2 .md-toc-inner {
  margin-left: 1em;
}
.search-with-ai--text .markdown-body .md-toc-h3 .md-toc-inner {
  margin-left: 2em;
}
.search-with-ai--text .markdown-body .md-toc-h4 .md-toc-inner {
  margin-left: 3em;
}
.search-with-ai--text .markdown-body .md-toc-h5 .md-toc-inner {
  margin-left: 4em;
}
.search-with-ai--text .markdown-body .md-toc-h6 .md-toc-inner {
  margin-left: 5em;
}
.search-with-ai--text .markdown-body #typora-sidebar {
  border-right: var(--window-border);
}
.search-with-ai--text .markdown-body .sidebar-tab {
  text-transform: none;
  font-weight: 700;
  font-size: 1.1em;
}
.search-with-ai--text .markdown-body .md-search-hit {
  color: var(--search-hit-text-font-color);
  background-color: var(--search-hit-text-bg-color);
}
.search-with-ai--text .markdown-body #md-searchpanel {
  box-shadow: none;
  filter: var(--tw-drop-shadow-md);
}
.search-with-ai--text
  .markdown-body
  #md-searchpanel
  .btn:not(.close-btn):hover {
  box-shadow: none;
  -webkit-box-shadow: none;
  background-color: var(--tw-button-hover-bg);
}
.search-with-ai--text .markdown-body #md-searchpanel input,
.search-with-ai--text .markdown-body #md-searchpanel .btn,
.search-with-ai--text .markdown-body #searchpanel-msg {
  border-radius: 5px;
}
.search-with-ai--text .markdown-body #searchpanel-msg {
  color: var(--theme-500);
  border-color: var(--theme-300);
  background: var(--theme-100);
}
.search-with-ai--text .markdown-body .form-control {
  border-color: var(--panel-border-color);
}
.search-with-ai--text .markdown-body .btn-default {
  background-color: var(--button-bg);
}

.search-with-ai--text .markdown-body *:first-child {
  margin-top: 0;
}

.search-with-ai--text .markdown-body h1 + *,
.search-with-ai--text .markdown-body h2 + *,
.search-with-ai--text .markdown-body h3 + *,
.search-with-ai--text .markdown-body h4 + *,
.search-with-ai--text .markdown-body ol + *,
.search-with-ai--text .markdown-body ul + *,
.search-with-ai--text .markdown-body pre + *,
.search-with-ai--text .markdown-body p + *,
.search-with-ai--text .markdown-body > p:first-child {
  margin-top: 0;
}
.search-with-ai--text .markdown-body-dark {
  --tw-prose-body: var(--tw-prose-invert-body);
  --tw-prose-headings: var(--tw-prose-invert-headings);
  --tw-prose-lead: var(--tw-prose-invert-lead);
  --tw-prose-links: var(--tw-prose-invert-links);
  --tw-prose-bold: var(--tw-prose-invert-bold);
  --tw-prose-counters: var(--tw-prose-invert-counters);
  --tw-prose-bullets: var(--tw-prose-invert-bullets);
  --tw-prose-hr: var(--tw-prose-invert-hr);
  --tw-prose-quotes: var(--tw-prose-invert-quotes);
  --tw-prose-quote-borders: var(--tw-prose-invert-quote-borders);
  --tw-prose-code: var(--tw-prose-invert-code);
  --tw-prose-captions: var(--tw-prose-invert-captions);
  --tw-prose-pre-bg: var(--tw-prose-invert-pre-bg);
  --tw-prose-th-borders: #d9d9e3;
  --tw-prose-td-borders: #d9d9e3;
  --tw-prose-bg: var(--tw-prose-invert-bg);
  --tw-prose-meta: var(--tw-prose-invert-meta);
  --tw-prose-meta-bg: var(--tw-prose-invert-meta-bg);
  --tw-button-hover-bg: var(--tw-button-hover-bg-inverted);
  --md-char-color: var(--md-char-color-inverted);
  --meta-content-color: var(--meta-content-color-inverted);
  --panel-border-color: var(--panel-border-color-inverted);
  --active-file-bg-color: var(--active-file-bg-color-inverted);
  --window-border: var(--window-border-inverted);
  --search-hit-text-bg-color: var(--search-hit-text-bg-color-inverted);
  --search-hit-text-font-color: var(--search-hit-text-font-color-inverted);
  --search-select-bg-color: var(--search-select-bg-color-inverted);
  --blur-text-color: var(--blur-text-color-inverted);
  --item-hover-bg-color: var(--item-hover-bg-color-inverted);
  --typora-source-body: var(--typora-source-body-inverted);
  --mermaid-theme: var(--mermaid-theme-inverted);
  --active-toggle-btn-color: var(--active-toggle-btn-color-inverted);
  --code-neutral: var(--code-neutral-inverted);
  --code-cursor: var(--code-cursor-inverted);
  --code-string: var(--code-string-inverted);
  --code-number: var(--code-number-inverted);
  --code-tag: var(--code-tag-inverted);
  --code-variable: var(--code-variable-inverted);
  --code-operator: var(--code-operator-inverted);
  --code-comment: var(--code-comment-inverted);
  --code-bracket: var(--code-bracket-inverted);
  --code-citation: var(--code-citation-inverted);
  --button-bg: var(--button-bg-inverted);
  --md-grid-header: var(--md-grid-header-inverted);
  --md-grid-header-ext: var(--md-grid-header-ext-inverted);
  --md-grid-ext: var(--md-grid-ext-inverted);
  --md-grid-header-active: var(--md-grid-header-active-inverted);
  --md-grid-active: var(--md-grid-active-inverted);
  --md-grid-border-color: var(--md-grid-border-color-inverted);
}
.search-with-ai--text pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
.search-with-ai--text code.hljs {
  padding: 3px 5px;
}
.search-with-ai--text code.hljs * {
  font-family: inherit !important;
}
.search-with-ai--text .hljs {
  color: #abb2bf;
  background: #282c34;
}
.search-with-ai--text .hljs-comment,
.search-with-ai--text .hljs-quote {
  color: #9da4b1;
  font-style: italic;
}
.search-with-ai--text .hljs-doctag,
.search-with-ai--text .hljs-formula,
.search-with-ai--text .hljs-keyword {
  color: #c678dd;
}
.search-with-ai--text .hljs-deletion,
.search-with-ai--text .hljs-name,
.search-with-ai--text .hljs-section,
.search-with-ai--text .hljs-selector-tag,
.search-with-ai--text .hljs-subst {
  color: #e06c75;
}
.search-with-ai--text .hljs-literal {
  color: #56b6c2;
}
.search-with-ai--text .hljs-addition,
.search-with-ai--text .hljs-attribute,
.search-with-ai--text .hljs-meta .hljs-string,
.search-with-ai--text .hljs-regexp,
.search-with-ai--text .hljs-string {
  color: #98c379;
}
.search-with-ai--text .hljs-attr,
.search-with-ai--text .hljs-number,
.search-with-ai--text .hljs-selector-attr,
.search-with-ai--text .hljs-selector-class,
.search-with-ai--text .hljs-selector-pseudo,
.search-with-ai--text .hljs-template-variable,
.search-with-ai--text .hljs-type,
.search-with-ai--text .hljs-variable {
  color: #d19a66;
}
.search-with-ai--text .hljs-bullet,
.search-with-ai--text .hljs-link,
.search-with-ai--text .hljs-meta,
.search-with-ai--text .hljs-selector-id,
.search-with-ai--text .hljs-symbol,
.search-with-ai--text .hljs-title {
  color: #61aeee;
}
.search-with-ai--text .hljs-built_in,
.search-with-ai--text .hljs-class .hljs-title,
.search-with-ai--text .hljs-title.class_ {
  color: #e6c07b;
}
.search-with-ai--text .hljs-emphasis {
  font-style: italic;
}
.search-with-ai--text .hljs-strong {
  font-weight: 700;
}
.search-with-ai--text .hljs-link {
  text-decoration: underline;
}
