#EzMail_AI_ROOT{
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  background: #fff;
  flex-direction: column;
  opacity: 0;
  transition: all .3s ease-in-out;
  z-index: -1;
  &.open{
    min-width: 400px;
    width: 25%;
    opacity: 1;
    z-index: 999999;
  }
  &.close {
    width: 0;
    opacity: 0;
  }
  * {
    box-sizing: border-box;
    font-family: "Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  }
  .ezmail-ai-app{
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-left: 1px solid rgba(0, 0, 0, .1);
  }
}
.ezmail-ai-app__tooltip{
  z-index: 9999999;
}
body[dir="rtl"] #EzMail_AI_ROOT{
  right: unset;
  left: 0;
}
.ezmail-ai__gmail-toolbar-icon{
  opacity: 1!important;
}
