#USE_CHAT_GPT_AI_ROOT{
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  background: #fff;
  flex-direction: column;
  opacity: 0;
  transition: all .3s ease-in-out;
  z-index: -1;
  &.open{
    min-width: 400px;
    width: 25%;
    opacity: 1;
    z-index: 2147483501;
  }
  &.close {
    width: 0;
    opacity: 0;
  }
}

body[dir="rtl"] #USE_CHAT_GPT_AI_ROOT{
  right: unset;
  left: 0;
}
:root{
  --contexify-item-color: rgba(0,0,0,.87)!important;
  --contexify-activeItem-color: rgba(0,0,0,.87)!important;
  --contexify-activeArrow-color: rgba(0,0,0,.87)!important;
  --contexify-activeItem-bgColor: rgba(118, 1, 211, 0.04) !important;
}
